@font-face {
  font-family: varelaRound;
  src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf);
}

@font-face {
  font-family: koulen;
  src: url(assets/fonts/koulen/Koulen-Regular.ttf);
}

$header-font: koulen, sans-serif;
$main-font: varelaRound, sans-serif;

$main-color: #0098A1;
$accent-color: #FFB800;
$secondary-color: #fff;

* {
  box-sizing: border-box;
}

body {
  // margin: 0;
  // height: 100vh;
  // box-sizing: border-box;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  font-family: $main-font;
}

button {
  font-family: $main-font;
  &.carouselNavDot {
    border: none;
    background-color: rgba(0,0,0,0);
  }
}

h2 {
  font-family: $header-font;
}

#signature {
  height: 200px;
}

.inactiveSlide {
  display: none;
}

.activeSlide {
  display: block;
}

.inactiveDot {
  color: black;
}

.activeDot {
  color: $main-color;
}

// .carousel {
//   display: flex;
//   overflow: auto;
//   max-width: 100%;
//   scroll-snap-stop: always;
//   scroll-snap-align: center;
//   scroll-snap-type: x mandatory;
// }

// .carouselSlide {
//   flex: 0 0 100%;
//   scroll-snap-stop: always;
//   scroll-snap-align: center;
//   scroll-snap-type: x mandatory;
// }