@use 'base';

#signature {
  height: 200px;
}

.landing {
  @include base.main-scheme;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/imgs/concrete-wall.png');
}

.about {
  @include base.secondary-scheme;
}

.work {
  @include base.grey-scheme;
  padding: 3em 2em 0 2em;
  background-color: base.$grey;
}

.carousel {
  @include base.secondary-scheme;
  padding: 0;
  margin-top: 2em;
}

.carouselSlideInfo {
  flex-grow: 1;
  padding: 1em;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }

  li {
    margin: 0;
    display: inline;
    padding: 0 3px;
    font-size: 1.5em;
  }
  h4 {
    text-align: right;
    margin-bottom: 0;
  }
}
#carouselNavDots {
  padding: 1em;
}

.inactiveSlide {
  display: none;
}

.activeSlide {
  display: flex;
  flex-direction: column;
}

.inactiveDot {
  color: base.$tertiary-color;
}

.activeDot {
  color: base.$main-color;
}

// .carousel {
//   display: flex;
//   overflow: auto;
//   max-width: 100%;
//   scroll-snap-stop: always;
//   scroll-snap-align: center;
//   scroll-snap-type: x mandatory;
// }

// .carouselSlide {
//   flex: 0 0 100%;
//   scroll-snap-stop: always;
//   scroll-snap-align: center;
//   scroll-snap-type: x mandatory;
// }

.contact {
  @include base.accent-scheme;
  background-image: url("./assets/imgs/concrete-wall.png");
}

.contact-cards {
  display: flex;
  justify-content: center;
  gap: 2em;
}
.contact-card {
  display: flex;
  flex-direction: column;
  i {
    font-size: 2em;
  }
}