@font-face {
  font-family: varelaRound;
  src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: koulen;
  src: url(assets/fonts/koulen/Koulen-Regular.ttf);
}
* {
  box-sizing: border-box;
}

body {
  font-family: varelaRound, sans-serif;
}

button {
  font-family: varelaRound, sans-serif;
}
button.carouselNavDot {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

h2 {
  font-family: koulen, sans-serif;
}

#signature {
  height: 200px;
}

.inactiveSlide {
  display: none;
}

.activeSlide {
  display: block;
}

.inactiveDot {
  color: black;
}

.activeDot {
  color: #0098A1;
}