@font-face {
  font-family: varelaRound;
  src: url(assets/fonts/Varela_Round/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: koulen;
  src: url(assets/fonts/koulen/Koulen-Regular.ttf);
}
body {
  font-family: varelaRound, sans-serif;
}

button {
  font-family: varelaRound, sans-serif;
}

h2 {
  font-family: koulen, sans-serif;
}

#signature {
  height: 200px;
}