/*
This code assumes a "mobile first" approach.
*/

html body {
  font-family: "Verdana", sans-serif;
  background: url('media/003-granulated-loom.png');
  background-attachment: fixed;
}

body {margin: -1px; letter-spacing: 1px;}
html {margin: 1px;}

/* TOP BANNER --------------------------------------------------------------- */
.topBanner {
  text-align: center;
  background: rgba(17,17,17,0.8);
  color: #fff;
  padding: 0.5em;
  font-size: 0.8em;
}

.topBanner p {
  margin: -1px;
}

/* CONTENT ------------------------------------------------------------------ */
.content {
  height: 100vh;
  display: flex;
}

#text-box {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  padding: 1em;
}

#text-box p {
  font-size: 16px;
}

.about {
  background-image: linear-gradient(-160deg, rgba(255,255,255,0.0) 30%,rgba(0,20,51,0.7)), url('media/IMG_0737-edit.jpg');
  /* Uncomment for github */
  /*url('tjstoll.github.io/media/IMG_0737-edit.jpg');*/
  background-position: 75% 0%;
  background-attachment: fixed;
  background-size: cover;
  min-height: inherit;
  box-sizing: border-box;
  padding: 1em;
  display: flex;
  overflow-y: hidden;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.about #text-box {
  min-width: 40%;
  background: rgba(26,0,0,0.3);
}

.twitterFeed {
  display: none;
}

/* FOOTER ------------------------------------------------------------------- */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ddd;
  background: rgba(10,10,10,0.8);
  padding: 2em 0em 2em 0em;
}

#footerBox {
  box-sizing: border-box;
  padding: 1em 0em;
  width: 90%;
  border-bottom: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footerBox p {
  margin: -1px;
}

#footerBox:last-child {
  border-bottom: none;
}

img {
  width: 30%;
}

.icons {
  display: flex;
  color: #888;
}

a, a:visited {
  color: #ddd;
}

a:hover {
  color: #fff;
}

i {
  padding: 0em 0.5em;
}

/* LARGER SCREEN STYLES ----------------------------------------------------- */
@media screen and (min-width: 950px) {

  .content {
    height: 95vh;
  }

  .about {
    background-position: top center;
    align-items: flex-start;
    justify-content: center;
    padding: 5em;
  }

  #text-box {
    max-width: 20em;
  }

  .twitterFeed {
    display: block;
    max-height: inherit;
    overflow-y: scroll;
    background: rgba(10,10,10,0.8);
  }

  .twitterFeed::-webkit-scrollbar {
    width: 10px;
    background: #000;
  }

  .twitterFeed::-webkit-scrollbar-thumb {
    background: #ddd;
  }

  .footer {
    flex-direction: row;
    align-items: stretch;
    color: #ddd;
  }

  #footerBox {
    padding: 1em 0em;
    width: 20%;
    border-right: 1px solid #888;
    border-bottom: none;
  }

  #footerBox:last-child {
    border-right: none;
  }

}
