//- <section>
//-     <div id="carouselNavDots">
//-     <i class="fa-solid fa-circle dot" id="active-dot"></i>
//-     </div>
//-     <article class="carousel-slide">
//-         <img src="assets/imgs/signature.svg" alt="placeholder" width="100%">
//-         <section>
//-             <h3>project 1</h3>
//-             <p>i cloned my favourite website</p>
//-         </section>
//-         <section>
//-             <h4>tech stack:</h4>
//-             <ul>
//-             <li><i class="fa-brands fa-html5"></i></li>
//-             <li><i class="fa-brands fa-css3-alt"></i></li>
//-             <li><i class="fa-brands fa-js"></i></li>
//-             </ul>
//-         </section>
//-         </article>
//- </section>

// library of projects
-
    const projects = [
        {
            id: 1,
            name: "frontend project",
            description: "i cloned my favourite website",
            img: "./assets/imgs/personal-site-poster.svg",
            tech_stack: ['html5', 'css3-alt', 'js']
        },
        {
            id: 2,
            name: "javascript project",
            description: "i built some of my favourite games",
            img: "./assets/imgs/shows-app-poster.svg",
            tech_stack: ['js'], 
        },
        {
            id: 3,
            name: "full-stack project",
            description: "i built an app front to back",
            img: "https://picsum.photos/300/200?random=3",
            tech_stack: ['sass', 'gulp', 'react']
        }];


section.carousel
    each project in projects
        - const tech_stack = project.tech_stack
        article.carouselSlide.inactiveSlide
            img(src=`${project.img}` alt="project image" width="100%")
            section.carouselSlideInfo
                h3
                    = project.name
                p
                    = project.description
                h4 tech stack:
                ul
                    each tech in tech_stack
                        li
                            i(class=`fa-brands fa-${tech}`)
div#carouselNavDots
    each project in projects
        button.carouselNavDot.inactiveDot
            i.fa-solid.fa-circle.dot