// @import url('https://fonts.googleapis.com/css?family=Fjalla+One|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  margin: 0;
}
html {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 0.05rem;
}

h1,h2,h3,h4 {
  font-family: 'Varela Round', sans-serif;
  margin: 0;
}
h1 {font-size: 5rem;}
h2 {font-size: 3rem;}
h3 {font-size: 2rem;}
p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0;
}

hr {
  width: 100%;
}

@media screen and (max-width: 950px) {
  html {
    font-size: 11px;
  }
}
