@import url('https://fonts.googleapis.com/css?family=Oxygen|Ubuntu');

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  background: url(https://tjstoll.github.io/media/003-granulated-loom.png);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-family: 'Oxygen', sans-serif;
}
p {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1.4em;
}

ul {
  list-style: none;
  margin: auto 0;
  padding: auto 0;
}
li {
  display: inline;
  padding: 15px;
}

a {
  text-decoration: none;
  color: white;
  outline: 0;
  & + a {margin-left: 10px;}
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px 10px;
  font-size: 1em;
  outline: 0;
  letter-spacing: 1px;
}

hr {
  border: 0.6px solid;
}
